<article>
  <br>
  <br>
  <header>
  <h1 class="page-title">Education</h1>
  </header>
  <section>
    <div class="work-details">
      <p>- Universidad Nacional Mayor de San Marcos - Software Engineer</p>
    </div>
  </section>
  <br>
  <br>
  <header>
    <h1 class="page-title">Courses</h1>
    </header>
    <section>
      <div>
        <p>- SQL SERVER Y MODELAMIENTO DE DATOS 2019 (CIBERTEC)</p>
        <p>- VISUAL STUDIO FUNDAMENTALS 2019 (CIBERTEC)</p>
      </div>
    </section>
    <br>
    <br>
    <section>
  </section>
  <br>
  <br>
  <header>
    <h1 class="page-title">Work Experience</h1>
  </header>
  <section>
    <div class="work-details">
      <p>FullStack Developer</p>
      <p>LastM Biz Group, Remote</p>
    </div>
    <div class="work-dates">
      <p>01 - OCT - 2022</p>
      <p>31 - NOV - 2022</p>
    </div>
  </section>
  <br>
  <br>
  <section>
    <div class="work-details">
      <p>.NET Developer</p>
      <p>Softtek</p>
    </div>
    <div class="work-dates">
      <p>10 - ABR - 2023</p>
      <p>Presente</p>
    </div>
  </section>
</article>
